/* USER VARIABLES SECTION */
:root {
  --accent: orange;
  --fontsize: 16px;
  --textcolor: #333;
  --lineheight: 1.65;
  --userfont: roboto-st, sans-serif;
  --systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
}

/* GENERAL CSS SETTINGS */
::-webkit-input-placeholder {
  color: #666;
}
:-ms-input-placeholder {
  color: #666;
}
::-ms-input-placeholder {
  color: #666;
}
::placeholder {
  color: #666;
}

::-moz-selection {
  background-color: var(--accent);
  color: #fff;
}

::selection {
  background-color: var(--accent);
  color: #fff;
}

input,
textarea {
  outline: none;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}

body {
  font-family: var(--userfont);
  font-size: var(--fontsize);
  line-height: var(--lineheight);
  color: var(--textcolor);
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  background-color: #f4f7fc;
}

#app {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100vh;
  width: 100%;
}

main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 260px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 260px;
          flex: 1 0 260px;
  background-color: #085ca3;
  min-height: 100vh;
  padding-top: 23px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sidebar__mini-btn {
  position: absolute;
  top: 20px;
  right: -20px;
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  z-index: 2;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sidebar__mini-btn.mini {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar__nav-title {
  text-align: left;
  font: normal normal normal 14px/20px "Montserrat";
  letter-spacing: 0px;
  color: #51cbfc;
  padding-left: 16px;
  margin-bottom: 8px;
  margin-top: 31px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  white-space: nowrap;
}

.sidebar__main {
  height: calc(100% - 56px);
  overflow-y: auto;
}

.sidebar .nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 16px;
  overflow: hidden;
  position: relative;
}

.sidebar .nav::before {
  content: "";
  display: block;
  width: 16px;
  height: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #085ca3;
}

.sidebar .nav__item {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

.sidebar .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  text-align: left;
  font: normal normal normal 15px/20px "Montserrat";
  letter-spacing: 0px;
  color: #ccd2e3;
  opacity: 1;
  width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sidebar .nav__link .icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54px;
          flex: 0 0 54px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background-color: #085ca3;
  position: relative;
  z-index: 2;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sidebar .nav__link .icon svg {
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.sidebar .nav__link .text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.sidebar .nav__link:hover {
  background-color: #025193;
}

.sidebar .nav__link:hover .icon {
  background-color: #025193;
}

.sidebar .nav__link:hover .icon svg {
  fill: #fff;
}

.sidebar .nav.reverse .nav__link {
  padding-top: 8px;
  padding-bottom: 8px;
}

.sidebar .nav.reverse .nav__link .text {
  padding-left: 19px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.sidebar .nav.reverse .nav__link .icon {
  background-color: #fff;
  width: 40px;
  height: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  border-radius: 50%;
  margin-left: 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.sidebar.mini {
  width: 70px;
  -ms-flex-preferred-size: 70px;
      flex-basis: 70px;
}

.sidebar.mini .nav {
  padding-left: 8px;
}

.sidebar.mini .nav.reverse .nav__link:hover {
  background-color: transparent;
}

.sidebar.mini .nav.reverse .nav__link .text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.sidebar.mini .nav.reverse .nav__link .icon {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.sidebar.mini .nav__link .text,
.sidebar.mini .sidebar__nav-title {
  opacity: 0;
  -webkit-transform: translateX(-200%);
          transform: translateX(-200%);
}

.sidebar.mini .sidebar__nav-title {
  width: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  background-color: #fff;
  padding: 16px;
  padding-bottom: 26px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 222px;
          flex: 0 0 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin-right: 20px;
}

.header__logo:hover {
  text-decoration: none;
}

.header__logo .icon {
  margin-right: 5px;
}

.header__logo .title {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #085ca3;
}

.header__search {
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: none;
}

.header__search.show {
  display: block;
}

.header__search .search__field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #085ca3;
}

.header__nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.header__nav .nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
}

.header__nav .nav__item:last-child {
  margin-right: 0;
}

.header__nav .nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #f5f7fb;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown__link {
  width: auto !important;
  height: auto !important;
  background-color: transparent !important;
}

.dropdown > .nav__link {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 20px;
  color: #131523;
  text-decoration: none;
}

.dropdown > .nav__link .name {
  margin-right: 20px;
}

.dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  top: 100%;
  left: 0;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, -webkit-transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear;
  transition: opacity 0.3s linear, transform 0.3s linear, -webkit-transform 0.3s linear;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}

.dropdown-item {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 20px;
  color: #131523;
  text-decoration: none;
  padding: 0.5em 1em;
}

.dropdown-item:hover {
  background-color: #f5f7fb;
}

.dropdown:hover .dropdown-menu {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  visibility: visible;
}

.content {
  padding: 38px 40px 30px 39px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.nav-tabs .main__tab {
  border-bottom: none;
}

.nav-tabs .main__tab_item:last-child .main__tab_link {
  border-top-right-radius: 4px;
  background-color: #e6f0f4;
}

.nav-tabs .main__tab_item:first-child .main__tab_link {
  border-top-left-radius: 4px;
}

.nav-tabs .main__tab_item .button {
  color: #fff;
}

.nav-tabs .main__tab_link {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 14px;
  color: #131523;
  padding: 18px;
  border: none;
  background-color: #daeaed;
  border-radius: 0;
}

.nav-tabs .main__tab_link.active {
  background-color: #71b3b1 !important;
  color: #fff !important;
  font-weight: 600;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card {
  border: none;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

.card__header {
  padding: 28px 30px 17px;
}

.card__header .nav__link {
  font-family: "Montserrat";
  font-size: 16px;
  line-height: 14px;
  color: #131523;
  padding: 4px 15px;
  border-right: 2px solid #1e1e1e;
}

.card__header .nav__item:last-child .nav__link {
  border-right: none;
}

.card__body {
  padding: 0 34px 30px 30px;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
}

.section__title {
  text-align: center;
  font: normal normal bold 25px/30px "Montserrat";
  letter-spacing: 0px;
  color: #091638;
  margin-top: 50px;
  margin-bottom: 42px;
}

.button {
  font: normal normal bold 18px/22px "Montserrat";
  letter-spacing: 0px;
  font-weight: 500;
  min-height: 54px;
  width: auto;
  border-radius: 10px;
  color: #085ca3;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  min-width: 180px;
}

.button:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.button-outline-primary {
  border: 2px solid #085ca3;
}

.button__danger {
  font: normal normal normal 14px/19px "Montserrat";
  letter-spacing: 0px;
  color: #23272b;
  text-transform: capitalize;
  padding: 14px;
  min-width: 80px;
  border: 1px solid #8d0101;
  background: #ffe6e6;
  border-radius: 10px;
  margin-left: 10px;
}

.button__danger:hover {
  background: #ffcdcd;
}

.button__success {
  color: white;
  background-color: #00a87b !important;
  border-color: #00a87b !important;
}

.button__success:hover {
  color: white;
  background-color: #008f68 !important;
}

.button__primary {
  background-color: #085ca3;
  border-color: #085ca3;
  color: white;
}

.button__primary:hover {
  color: white;
  background-color: #074e8b;
}

.button__secondary {
  background-color: #9f9f9f;
  background-color: #9f9f9f;
  color: white;
}

.button__secondary:hover {
  color: white;
  background-color: #929292;
}

.form-group {
  margin-bottom: 20px;
}

.form__label {
  font: normal normal normal 16px/19px "Montserrat";
  letter-spacing: 0px;
  color: #010101;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-select {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 54px;
  padding: 16px 20px;
  padding-right: 40px;
  color: #767676;
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.002' height='7.173' viewBox='0 0 14.002 7.173'%3E%3Cpath id='free-icon-font-angle-small-down-3916864' d='M18.71,8.21a1,1,0,0,0-1.42,0l-4.58,4.58a1,1,0,0,1-1.42,0L6.71,8.21A1,1,0,0,0,5.29,9.62l4.59,4.59a3,3,0,0,0,4.24,0l4.59-4.59A1,1,0,0,0,18.71,8.21Z' transform='translate(-4.999 -7.914)' fill='%231e1e1e'/%3E%3C/svg%3E%0A") no-repeat calc(100% - 20px) 50%;
}

.form-select:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #c5c5c5;
}

.form-control {
  border-radius: 10px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
          box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 54px;
}

.form-control:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #c5c5c5;
}

.form-control.icon_search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.166' height='17.165' viewBox='0 0 17.166 17.165'%3E%3Cpath id='search' d='M16.924,15.914l-4.264-4.264a7.154,7.154,0,1,0-1.01,1.01l4.264,4.264a.714.714,0,1,0,1.01-1.01ZM7.134,12.848a5.714,5.714,0,1,1,5.714-5.714,5.714,5.714,0,0,1-5.714,5.714Z' transform='translate(0.032 0.032)' fill='%23085ca3'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
  padding-right: 40px !important;
}

.form-control.icon_plus {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.227' height='20.227' viewBox='0 0 20.227 20.227'%3E%3Cpath id='plus_2_' data-name='plus (2)' d='M19.384,9.271H10.956V.843A.843.843,0,0,0,10.114,0h0a.843.843,0,0,0-.843.843V9.271H.843A.843.843,0,0,0,0,10.114H0a.843.843,0,0,0,.843.843H9.271v8.428a.843.843,0,0,0,.843.843h0a.843.843,0,0,0,.843-.843V10.956h8.428a.843.843,0,0,0,.843-.843h0A.843.843,0,0,0,19.384,9.271Z' fill='%231e1e1e'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
  padding-right: 40px !important;
}

.form-control.icon_marker {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20.11' height='24.002' viewBox='0 0 20.11 24.002'%3E%3Cg id='marker' transform='translate(-1.945 0.002)'%3E%3Cpath id='Path_10172' data-name='Path 10172' d='M12,6a4,4,0,1,0,4,4A4,4,0,0,0,12,6Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,12Z' fill='%231e1e1e'/%3E%3Cpath id='Path_10173' data-name='Path 10173' d='M12,24a5.271,5.271,0,0,1-4.311-2.2c-3.811-5.257-5.744-9.209-5.744-11.747a10.055,10.055,0,1,1,20.11,0c0,2.538-1.933,6.49-5.744,11.747A5.271,5.271,0,0,1,12,24ZM12,2.181a7.883,7.883,0,0,0-7.874,7.874c0,2.01,1.893,5.727,5.329,10.466a3.145,3.145,0,0,0,5.09,0c3.436-4.739,5.329-8.456,5.329-10.466A7.883,7.883,0,0,0,12,2.181Z' fill='%231e1e1e'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) 50%;
  padding-right: 40px !important;
}

textarea.form-control {
  min-height: 218px;
}

.custom-file {
  height: 54px;
}

.custom-file-input:focus ~ .custom-file-label {
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.custom-file-label {
  height: 54px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.custom-file-label::after {
  content: "" !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20.752' viewBox='0 0 20 20.752'%3E%3Cpath id='free-icon-font-clip-3917548' d='M19.853,8.3a.864.864,0,0,0-1.222,0L9.215,17.754A4.322,4.322,0,1,1,3.1,11.641l9.119-9.156a2.593,2.593,0,1,1,3.668,3.667L6.77,15.308a.883.883,0,0,1-1.222,0,.864.864,0,0,1,0-1.222L13.666,5.93a.864.864,0,1,0-1.222-1.222L4.325,12.864a2.593,2.593,0,0,0,0,3.668,2.656,2.656,0,0,0,3.668,0l9.118-9.157A4.322,4.322,0,1,0,11,1.263L1.88,10.419a6.051,6.051,0,0,0,8.558,8.558l9.415-9.453a.864.864,0,0,0,0-1.226Z' transform='translate(-0.108 0.003)' fill='%231e1e1e'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.custom-control {
  display: inline-block;
  min-height: 1rem;
  padding: 0;
  margin-right: 30px;
  cursor: pointer;
}

.custom-control-input {
  display: none;
  position: absolute;
}

.custom-control-input:checked ~ .custom-control-label {
  color: #085ca3;
}

.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #085ca3;
  background-color: #085ca3;
}

.custom-control-input:checked ~ .custom-control-label::after {
  content: "";
}

.custom-control-label {
  padding-left: 30px;
  color: #c0c0c0;
}

.custom-control-label::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 2px solid #085ca3;
  background-color: transparent;
}

.custom-control-label::after {
  content: none;
  position: absolute;
  top: 6px;
  left: 2px;
  width: 15px;
  height: 7px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  background-image: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-image: none !important;
}

.registration__button {
  font: normal normal normal 18px/22px "Montserrat";
  letter-spacing: 0px;
  font-weight: 500;
  color: #ffffff;
  padding: 15px 22px;
  background-color: #085ca3;
  min-width: 220px;
  border-radius: 0;
}

.registration__button:hover {
  background-color: #064172;
  color: #fff;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number_inc {
  position: absolute;
  top: 0;
  right: 10px;
  padding: 0.2em;
  border: none;
}

.number_inc:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.number_inc:active {
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.number_inc svg {
  pointer-events: none;
}

.number_dec {
  position: absolute;
  bottom: 0;
  right: 10px;
  padding: 0.2em;
  border: none;
}

.number_dec:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

.number_dec:active {
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
}

.number_dec svg {
  pointer-events: none;
}

.input-group-prepend {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60px;
          flex: 0 1 60px;
}

.input-group-text {
  background: transparent;
  border: none;
}

.input-group .form-control:not(:first-child) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.table__main th {
  background-color: #085ca3;
  padding: 10px;
  border-left: 1px solid #fff;
}

.table__main th:first-child {
  border-top-left-radius: 4px;
  border-left: none;
}

.table__main th:last-child {
  border-top-right-radius: 4px;
  width: 125px;
}

.table__main td {
  border-left: 1px solid #e2e6ea;
  font: normal normal normal 14px/17px "Montserrat";
  letter-spacing: 0px;
  color: #23272b;
  vertical-align: middle;
}

.table__main td:last-child {
  border-right: 1px solid #e2e6ea;
}

.table__main tr:nth-child(odd) td {
  background-color: #f3fafc;
}

.table__main tr:last-child td {
  border-bottom: 1px solid #e2e6ea;
}

.table__main .form-control {
  height: 40px;
  font: normal normal normal 12px/15px "Montserrat";
  letter-spacing: 0px;
  color: #767676;
  padding: 10px;
  padding-right: 40px;
  border-radius: 5px;
}

.table__main .form-control::-webkit-input-placeholder {
  font: normal normal normal 12px/15px "Montserrat";
  letter-spacing: 0px;
  color: #767676;
}

.table__main .form-control:-ms-input-placeholder {
  font: normal normal normal 12px/15px "Montserrat";
  letter-spacing: 0px;
  color: #767676;
}

.table__main .form-control::-ms-input-placeholder {
  font: normal normal normal 12px/15px "Montserrat";
  letter-spacing: 0px;
  color: #767676;
}

.table__main .form-control::placeholder {
  font: normal normal normal 12px/15px "Montserrat";
  letter-spacing: 0px;
  color: #767676;
}

.table__main .form-control:disabled {
  background-color: #fff;
  font: normal normal normal 12px/15px "Montserrat";
  letter-spacing: 0px;
  color: #767676;
  padding-right: 10px;
}

.table__main .form-select {
  height: 40px;
  font: normal normal normal 12px/15px "Montserrat";
  letter-spacing: 0px;
  padding: 10px;
  border-radius: 5px;
  padding-right: 40px;
}
/*# sourceMappingURL=main.css.map */